@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pad-hor ($value) {
    padding-left: $value;
    padding-right: $value;
}

@mixin pad-vert ($value) {
    padding-top: $value;
    padding-bottom: $value;
}
