@import 'variables';
@import 'mixins';

.global-container {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;

    perspective: 1px;

    display: flex;
    flex-direction: column;

    scroll-behavior: smooth;
}

.global-header-placeholder {
    position: relative;
    width: 100%;
    min-height: $height-header;
    max-height: $height-header;
    flex: 0;
}

.global-header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: $height-header;
    max-height: $height-header;

    z-index: $z-header;

    background: black;

    & > .row {
        max-height: 100%;
    }
}

.header-logo {
    margin-left: 0.8rem;

    max-height: $height-header;
    @include pad-vert(0.3rem);

    background: black;
}

.header-logo-shield {
    height: 100%;
    width: auto;
}

.header-nav {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

    color: white;

    & > div {
        @include pad-hor(1rem);
        padding-bottom: 1rem;

        display: flex;
        align-items: flex-end;
        //flex: 1;

        font-weight: 100;
        font-size: 1.05rem;
        text-align: center;
        line-height: 1rem;

        cursor: pointer;
        transition: color 0.2s ease;

        &:hover:not(.selected) {
            color: lighten($colour-highlight,10);
        }

        &.active {
            color: $colour-highlight;
        }
    }
}

.header-medhack {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.7rem;

    max-height: $height-header;

    &-button {
        border-radius: 0.2rem;

        width: 100%;
        height: 100%;

        padding: 0.8rem;

        @include flex-center;

        background: $colour-highlight;

        font-weight: 700;
        font-size: 0.9rem;

        cursor: pointer;
        transition: color 0.2s ease, background 0.2s ease;

        &:hover {
            color: white;
            //background: darken($colour-highlight, 10);
        }
    }

}
