<main id="global-container" class="global-container">
    <div class="global-header-placeholder">

    </div>
    <<header class="global-header container-fluid">
            <div class="row">
                <div class="header-logo col-2">
                    <img class="header-logo-shield" src="assets/logo_shield_darkBG.png">
                </div>
                <div class="col">

                </div>
                <div class="header-nav col-6 px-0">
                    <div routerLink="/" routerLinkActive="active">
                        Home
                    </div>
                    <div>
                        Get Involved
                    </div>
                    <div>
                        About Us
                    </div>
                    <div>
                        Events
                    </div>
                    <div>
                        Projects
                    </div>
                </div>
                <div class="col-auto header-medhack">
                    <div class="header-medhack-button">
                        MED_HACK 2019 : ENABLED
                    </div>
                </div>
            </div>

    </header>
    <router-outlet></router-outlet>
</main>


