<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <span class="mymi">MYMI</span>
        </div>
        <div class="col">

        </div>
        <div class="col-2 d-flex justify-content-around align-items-center">
            <i class="fab fa-facebook-square fb"></i>
            <i class="fab fa-instagram ig"></i>
            <i class="fab fa-github-square gh"></i>
            <i class="fab fa-twitter-square tw"></i>
            <i class="fas fa-envelope-square em"></i>
        </div>
    </div>
</div>
