<div mymiHero class="hero">
    <div class="container">
        <div class="col hero-box">
            <div class="hero-box-left">
                <span>
                    MONASH
                </span>
                <span>
                    YOUNG
                </span>
                <span>
                    MEDTECH
                </span>
                <span>
                    INNOVATORS
                </span>
            </div>
            <div class="hero-box-divider">

            </div>
            <div class="hero-box-right">
                <div class="hero-box-logo">
                    <img src="assets/logo_initials_orange.png">
                </div>
                <span>Dedicated to furthering positive impact through medical technology and healthcare innovation.</span>
            </div>
        </div>
    </div>
</div>
