@import 'variables';
@import 'mixins';

.hero {
    position: relative;

    height: calc(100vh - #{$height-header});

    //width: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        //transform: translateZ(-1.3px) scale(2.56);

        background-image: url("/assets/hero_surgery.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    & > .container {
        height: 100%;

        @include flex-center;
    }
}
