<div mymiHero class="hero">
    <div class="container">
        <span>P</span>ROJECTS
    </div>
</div>

<main class="projects-container">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let pt of projects | async" class="projects-block col-4">
                <div class="projects-card">
                    <div class="projects-card-side front" [style.background-image]="getFeaturedImage(pt)"></div>
                    <div class="projects-card-side back">{{pt.excerpt}}</div>
                </div>
                <p>{{pt.title}}</p>
            </div>
        </div>
    </div>
</main>

<mymi-footer></mymi-footer>
