<div mymiHero class="hero">
    <div class="container">
        <span>P</span>ROJECTS
    </div>
</div>

<main class="projects-container">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let i of [0,1,2,3,4,5,6]" class="projects-block col-4">
                <div class="projects-card">
                    <div class="projects-card-side front"></div>
                    <div class="projects-card-side back"></div>
                </div>
                <p>An exciting project</p>
            </div>
        </div>
    </div>
</main>

<mymi-footer></mymi-footer>
