<div class="hero">
    <div class="container">
        <div class="col hero-box">
            <div class="hero-box-left">
                <span>
                    MONASH
                </span>
                <span>
                    YOUNG
                </span>
                <span>
                    MEDTECH
                </span>
                <span>
                    INNOVATORS
                </span>
            </div>
            <div class="hero-box-divider">

            </div>
            <div class="hero-box-right">
                <div class="hero-box-logo">
                    <img src="assets/logo_initials_orange.png">
                </div>
                <span>Dedicated to furthering positive impact through medical technology and healthcare innovation.</span>
            </div>
        </div>
    </div>
</div>

<section class="section section-who">
    <div class="who-img">
        <svg viewBox="0 0 100 100" preserveAspectRatio="none">
            <path class="right" d="M 95,100 l 5,0 l 0,-100 l -5,0 l -15,0 Z"/>
            <path class="left" d="M 0,0 l 0,100 l 15,0 Z"/>
        </svg>
    </div>
    <div class="section-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-6 who-box">
                    <span>Who we are.</span>
                    <p>
                        An interdisciplinary community of undergraduates, PhDs and Early Career Researchers (ECRs) dedicated to achieving positive impact through medical technology and biomedical innovation.
                        <br><br>
                        Based at Monash University, founded in November 2018. Open to all, regardless of home institution, discipline, creed or experience.
                    </p>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>

</section>

<section class="section section-do">
    <div class="do-img">
        <svg viewBox="0 0 100 100" preserveAspectRatio="none">
            <path class="right" d="M 100,100 l 0,-100 l -15,0 Z"/>
            <path class="left" d="M 5,0 l -5,0 l 0,100 l 5,0 l 15,0 Z"/>
        </svg>
    </div>
    <div class="section-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-7 do-box">
                    <span>What we do.</span>
                    <p>
                        An interdisciplinary community of undergraduates, PhDs and Early Career Researchers (ECRs) dedicated to achieving positive impact through medical technology and biomedical innovation.
                        <br><br>
                        Based at Monash University, founded in November 2018. Open to all, regardless of home institution, discipline, creed or experience.
                    </p>
                </div>
                <div class="col-1">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-spacer">

</section>

<section class="section section-events">
    <div class="container-fluid">
        <div class="row px-5">
            <div class="events-featured left col-6 ">
                <span>Featured Event</span>
                <div class="events-box">
                    <div class="events-box-side front">FRONT</div>
                    <div class="events-box-side back">BACK</div>
                </div>
                <p>MedHACK: Enabled</p>
            </div>
            <div class="events-featured right col-6  ">
                <span>Featured Project</span>
                <div class="events-box">
                    <div class="events-box-side front">FRONT</div>
                    <div class="events-box-side back">BACK</div>
                </div>
                <p>An exciting project</p>
            </div>
        </div>
    </div>
</section>

<section class="section section-spacer">

</section>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <span class="mymi">MYMI</span>
            </div>
            <div class="col">

            </div>
            <div class="col-2 d-flex justify-content-around">
                <i class="fab fa-facebook-square fb"></i>
                <i class="fab fa-instagram ig"></i>
                <i class="fab fa-github-square gh"></i>
                <i class="fab fa-twitter-square tw"></i>
                <i class="fas fa-envelope-square em"></i>
            </div>
        </div>
    </div>
</footer>
