@import 'variables';
@import 'mixins';

:host() {

}

@mixin hero-background {
    background-image: url("/assets/hero_surgery.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin slanted-borders($col) {
    position: absolute;
    height: 100%;
    width: 100%;

    path {
        fill: $col;
    }

    path.left:hover {
       // d: path("M 0,0 l 0,100 l 15,0 Z");
    }

    path.right {
       // d: path("M 100,100 l 0,-100 l -15,0 Z");
    }
}

.hero {
    position: relative;

    height: calc(100vh - #{$height-header});

    //width: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        //transform: translateZ(-1.3px) scale(2.56);

        @include hero-background;
    }

    & > .container {
        height: 100%;

        @include flex-center;
    }
}

.hero-spacer {
    position: relative;
    height: 7rem;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        transform: translateZ(-1.1px) scale(2.8);

        background: url("/assets/pics/medhack_overview.png");
        background-size: cover;
    }
}

.hero-box {
    display: flex;
    justify-content: center;
}

.hero-box-left {
    height: 100%;

    display: flex;
    flex: 1;
    flex-direction: column;

    & > span {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        font-size: 4rem;
        line-height: 4rem;
        color: white;
    }

}

.hero-box-divider {

    margin-left: 1.4rem;
    margin-right: 1.4rem;
    border-left: 0.1rem solid white;

    min-height: 100%;
}

.hero-box-right {
    height: 100%;

    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: flex-start;

    & > span {
        color: white;
        font-size: 2.6rem;
        line-height: 2.7rem;
    }
}

.hero-box-logo {
    margin-bottom: 0.2rem;

    height: 4rem;

    & > img {
        height: 100%;
    }
}

.section {
    position: relative;
    width: 100%;
    height: 40rem;

    display: flex;

    background: whitesmoke;



    &.section-who {
        justify-content: flex-end;


    }

    &.section-do {
        justify-content: flex-start;
    }
}

.section-content {
    position: absolute;
    z-index: 10;
    top: 0; right: 0; left: 0; bottom: 0;
}

.who-img {
    position: relative;
    width: 35vw;
    height: 100%;

    overflow: hidden;

    background: url("/assets/pics/medhack_overview.png");
    //background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & > svg {
        @include slanted-borders(whitesmoke);
    }
}

.who-box {
    @include pad-vert(4rem);
    display: flex;
    flex-direction: column;

    & > span {
        margin-bottom: 2rem;

        font-size: 4rem;
        color: $colour-highlight;
    }

    & > p {
        font-size: 1.5rem;
    }

}

.do-img {
    position: relative;
    width: 35vw;
    height: 100%;

    overflow: hidden;

    background: url("/assets/pics/proud.png");
    //background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    & > svg {
        @include slanted-borders(whitesmoke)
    }
}

.do-box {
    @include pad-vert(4rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & > span {
        margin-bottom: 2rem;

        font-size: 4rem;
        color: $colour-highlight;
    }

    & > p {
        text-align: right;
        font-size: 1.5rem;
    }

}

.section-spacer {
    height: 5rem;
}

.section-events {
    height: auto;
}

.events-featured {
    perspective: 200rem;

    display: flex;
    flex-direction: column;

    padding-bottom: 1rem;

    &.left { align-items: center; }

    &.right { align-items: center; }

    & > span {
        margin-bottom: 2rem;

        font-size: 3.5rem;
        color: $colour-highlight;
    }

    .events-box {
        position: relative;

        margin-bottom: 1rem;

        width: 80%;
        max-width: 27rem;

        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.25);

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        &:hover {
            transform: rotateY(180deg);
        }

        transition: transform 1s ease;
        transform-style: preserve-3d;
        cursor: pointer;

        .events-box-side {
            position: absolute;
            height: 100%;
            width: 100%;
            backface-visibility: hidden;

            &.front { background: gray; }

            &.back {
                transform: rotateY(180deg);
                background: red;
            }
        }
    }

    p {
        color: black;
        font-size: 1.1rem;
    }
}

footer {
    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background: black;

    font-size: 1.3rem;
    color: $colour-highlight;

    .mymi {
        @include pad-hor(2rem);

        color: $colour-highlight;
        font-weight: bold;
    }

    i {
        &:hover {
            color: white;
        }

        cursor: pointer;
        transition: color 0.2s ease;
    }

    /*.fb {
        color: blue;
    }

    .ig {
        color: purple;
    }

    .gh {
        color: white;
    }

    .tw {
        color: lightblue;
    }

    .em {
        color: red;
    }*/

}
